<p id="notice"><%= notice %></p>

<h1>Seasons</h1>

<form method="input" action="/novelas">
Buscar por novela: <input type= integer name="filter" />
<input type="submit" />
</form><br>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Begins at</th>
      <th>Novela</th>
      <th>Minutos Totales</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seasons.each do |season| %>
      <tr>
        <td><%= season.number %></td>
        <td><%= season.begins_at %></td>
        <td><%= season.novela.name%></td>
        <td><%= season.episodes.sum(:minutes) %></td>
        <td> <%= link_to season.episodes.count, episodes_path(:season_number => season.number) %></td>
        


        <td><%= link_to 'Show', season %></td>
        <td><%= link_to 'Edit', edit_season_path(season) %></td>
        <td><%= link_to 'Destroy', season, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Season', new_season_path %>
