<%= form_with(model: novela) do |form| %>
  <% if novela.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(novela.errors.count, "error") %> prohibited this novela from being saved:</h2>

      <ul>
        <% novela.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :genre_id %>
    <%= form.collection_select(:genre_id, Genre.all, :id, :name)  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
